<div class="row">
  <div class="col-sm-3">
    <div class="square-gold"></div>
    <div>Gold 300 /-</div>
  </div>
  <div class="col-sm-3">
    <div class="square-silver"></div>
    <div>Silver 200 /-</div>
  </div>
  <div class="col-sm-3">
    <div class="square-bronze"></div>
    <div> Bronze 150 /- </div>
  </div>
</div>
