.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

.jumbotron {
  margin-bottom: 0 !important;
  padding-bottom: 40px;
  padding-top: 40px;
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.nav-link {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.movie-cards {
  margin-top: 40px;
}

.carousel-image {
  padding-right: 250px;
  padding-left: 250px;
}

.panel-heading {
  background-color:#405658 !important;
}
